#jukebox {
  width: 300px;
  height: 300px;
  /*border: 1px solid black;*/
}
#musiccontrol {
  border: 1px solid black;
  width: 200px;
  height: 50px;
}
.buttons{
  width: 50px;
  height: 45px;
  cursor: pointer;
  float: left;
}
#artwork {
  position: relative;
  width: 200px;
  height: 200px;
  border: 1px solid black;
  margin-top: 30px;
  background-size: contain;
}
#backBtn{
  background-image: url(images/backbutton.png);
}
#playBtn{
  background-image: url(images/playbutton.png);
}
#pauseBtn{
  background-image: url(images/pausebutton.png);
}
#nextBtn{
  background-image: url(images/nextbutton.png);
}
#selectedSong {
  position: absolute;
}
